# 모든 파일과 폴더 기본 무시
*

# Meta와 Neurons 폴더 추적
!Meta/
!Meta/**
!Neurons/
!Neurons/**

# MacOS 파일 무시
.DS_Store
.DS_Store?
._*

# Git 관련 파일 추적
!.gitignore
!README.md

# Obsidian 전체 무시, 하지만 특정 플러그인만 추적
.obsidian/
!.obsidian/plugins/quickadd/main.js
